@import "styles/settings/__settings";

.logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  cursor: pointer;

  &__isologo {
    width: auto;
    height: 2.5rem;
  }

  &__isologoBig {
    width: auto;
    height: 4.5rem;
  }

  &__logotipo {
    width: auto;
    height: 2rem;
  }

  &__logotipoBig {
    width: auto;
    height: 4rem;
  }
}
