@import "styles/settings/__settings";

@import "styles/components/_container";

.header {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2.5rem 2rem;
  text-align: center;
  background-image: url("/assets/images/mosaicos-alambra.webp");
  background-size: cover;

  @media (min-width: 480px) {
    padding: 6rem 4rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: $border-radius-small;
    background-color: $color-general-white;

    @media (min-width: 480px) {
      padding: 2rem;
    }
  }

  &__title {
    margin: 0;
    @extend .display;
    font-size: 1.5rem;

    color: $color-blue-500;

    @media (min-width: 480px) {
      font-size: 2.5rem;
      text-align: center;
    }

    a {
      color: $color-primary;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }

  &__description {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__divider {
    margin: 2rem;
    width: 50%;
    height: 0.25rem;
    border-radius: 5rem;
    background-color: $color-orange-300;
  }
}
