/* GENERAL COLORS */
$color-general-black: #2b313b;
$color-general-white: #fff;

/* BRAND COLORS */

$color-gray-50: #eef0f3;
$color-gray-100: #cfd7de;
$color-gray-200: #b1bdca;
$color-gray-300: #93a3b5;
$color-gray-400: #7589a0;
$color-gray-500: #5c7086;
$color-gray-600: #475768;
$color-gray-700: #333e4a;
$color-gray-800: #1e242b;
$color-gray-900: #090b0d;

$color-blue-50: #eef5f6;
$color-blue-100: #cadfe2;
$color-blue-200: #9cc3c9;
$color-blue-300: #74abb4;
$color-blue-400: #476a70;
$color-blue-500: #324c66;

$color-primary: $color-blue-500;

$color-orange-50: #fef9f1;
$color-orange-100: #fbeed4;
$color-orange-200: #fecb89;
$color-orange-300: #f7ac4a;
$color-orange-400: #d98b26;
